<div class="container mb-5">
  <h2>ユーザー編集 <%= current_user.name %> 様</h2>

  <%= form_with model: current_user, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

  <div>
    <%= f.label '名前' %> <span class="badge badge-danger">必須</span>
  </div>
  <div>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="mt-2">
    <%= f.label 'メールアドレス' %> <span class="badge badge-danger">必須</span>
  </div>
  <div>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>


  <div class="mt-2">
    <%= f.label 'パスワード' %> <span class="badge badge-danger">必須</span> <i>(現在または新たなパスワードを入力してください。)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"6文字以上半角英数" %>
  </div>

  <div class="mt-2">
    <%= f.label 'パスワード確認' %> <span class="badge badge-danger">必須</span> <i>(上記と同じパスワードを入力してください。)</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"上記と同じもの" %>
  </div>

  <div class="mt-2">
    <%= f.submit "更新" %>
    <a href="/" class="mt-3">もどる</a>
  </div>
  <% end %>
</div>
