  <nav class="navbar navbar-lg sticky-top pt-0">
    <div class="container-fluid bg-info text-white">
      <a href="/" class="navbar-brand text-white h1">Cliente</a>
      <div class="navbar-text navbar-right">
        <% if user_signed_in? %>
          <%= current_user.name %>
          <div type="button" class="btn btn-light btn-sm border ml-4">
            <%= link_to 'ユーザー編集', edit_user_registration_path %>
          </div>
          <button type="button" class="btn btn-outline-danger btn-sm">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'link_white'%>
          </button>
        <% else %>
          <%= link_to '新規登録', new_user_registration_path, class: 'link_white' %>
          <%= link_to 'ログイン', new_user_session_path, class: 'link_white' %>
        <% end %>
      </div>
    </div>
  </nav>
