<%= render 'shared/header' %>

<p>顧客一覧(トップページ)</p>
<div>
  <%= link_to '顧客情報新規登録', new_customer_path %>
</div>

<%= search_form_for @keyword, url: search_customers_path, class: "search-form" do |f| %>
  <%= f.text_field :last_name_or_first_name_or_memo_or_appearance_cont_any, placeholder: "顧客を検索する", class: "search-input" %>
  <button type="submit", class="btn btn-primary">検索</button>

<% end %>

<div>
  <% if @customers.present? %>
    <% @customers.each do |customer| %>
      <%= link_to customer_path(customer.id) do %>
        <div>
          <%= customer.last_name %>
          <%= customer.first_name %>
          <%= customer.tell1 %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>