<div class="container mb-5">
  <div class="row col-10 mt-2">
    <h2>検索結果</h2>
  </div>

  <div class="row pl-3 pr-3 d-flex justify-content-between">
    <div>
      <%# 検索窓 %>
      <%= render 'shared/search' %>
    </div>
    <div>
      <a href="/customers/new" class="btn btn-info pull-right">お客様新規登録</a>
    </div>
  </div>

  <div>
  <%# 検索結果表示 %>
  <% if @results.present? %>
      <% @results.each do |customer| %>
        <% wday = ['(日)','(月)','(火)','(水)','(木)','(金)','(土)']%>
        <%= link_to customer_path(customer.id), class: 'link_black' do %>
          <button class="border p-1 pl-2 mt-2 rounded-lg col-12 text-left">
            <div>
              <%= customer.name %>&emsp;
              <%= customer.name_kana %>
            </div>
            <div>
              &emsp;<%= customer.memo %>
              &emsp;<%= customer.appearance %>
            </div>
            <div>
              <% if customer.orders.present? %>
                &emsp;最終来店日：<%= customer.orders.last.date %> <%= wday[customer.orders.last.date.wday] %>
              <% else %>
                &emsp;来店データはありません
              <% end %>
            </div>
          </button>
        <% end %>
      <% end %>
    <% else %>
      <div>***条件に当てはまるお客様はありません***</div>
    <% end %>
  </div>

  <a href="/" class="btn btn-info btn-sm mt-3 mb-3" role="button" methodo="get">トップページ</a>
</div>