<div class="container mb-5">
  <div class="row mt-2">
    <h1><%= @customer.name%>  様</h1>
  </div>
  <div class="row pl-3 pr-3 d-flex justify-content-between">
    <div class="text-left">
      <a href="/" class="btn btn-info btn-sm" role="button" methodo="get">トップページ</a>
    </div>
    <div class="text-right">
      <%= link_to  new_customer_order_path(@customer.id), class: 'link_white' do %>
        <button class="btn btn-info btn-sm mr-2">オーダー情報入力</button>
      <% end %>
      <%= link_to  edit_customer_path(@customer.id), class: 'link_white' do %>
        <button class="btn btn-primary btn-sm mr-2">お客様編集</button>
      <% end %>
      <%= link_to customer_path(@customer.id), method: :delete, data: { confirm: "お客様を削除しますか？" }, class: 'link_white' do %>
        <button class="btn btn-danger btn-sm">お客様削除</button>
      <% end %>
    </div>
  </div>

    <table class="table table-striped border mt-4">
      <tr>
        <th style="width:30vw;">お名前</th>
        <td><%= @customer.name %>  様</td>
      </tr>
      <tr>
        <th>お名前(フリガナ)</th>
        <td><%= @customer.name_kana %>  様</td>
      </tr>
      <tr>
        <th>性別</th>
        <td><%= @customer.sex.name %></td>
      </tr>
      <tr>
        <th>電話番号-1</th>
        <td><%= @customer.tell1 %></td>
      </tr>
      <tr>
        <th>電話番号-2</th>
        <td><%= @customer.tell2 %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th>来店回数</th>
        <td><%= @customer.orders.count %></td>
      </tr>
      <tr>
        <th>メモ</th>
        <td><%= @customer.memo %></td>
      </tr>
      <tr>
        <th>外見的特徴</th>
        <td><%= @customer.appearance %></td>
      </tr>
    </table>

      <div class="row mt-4 mb-3">
        <div class="col-sm-5 text-center">
          <h3 class="border rounded-lg border-info p-2">オーダー一覧</h3>
        </div>
      </div>

  <div class="col mb-5">
    <% if @orders.present? %>
      <% @orders.each do |order| %>
      <% wday = ['(日)','(月)','(火)','(水)','(木)','(金)','(土)']%>
        <div class="col border rounded mt-3 mb-2 bg-light">
          <div class="row d-flex justify-content-end pr-3">
            <%= link_to edit_customer_order_path(@customer.id, order.id), class: 'link_white' do %>
              <button class="btn btn-primary btn-sm">編集</button>
            <% end %>
            <%= link_to customer_order_path(@customer.id, order.id), class: 'link_white', method: :delete, data: { confirm: 'オーダーを削除しますか？' } do %>
              <button class="btn btn-danger btn-sm ml-2">削除</button>
            <% end %>
          </div>

          <table class="table table-sm border rounded-lg bg-white">
            <tbody>
              <tr>
                <th scope="row" style="width:30vw;">来店日</th>
                <td><%= order.date %> <%= wday[order.date.wday] %></td>
              </tr>
              <tr>
                <th scope="row">人数</th>
                <td><%= order.people %> 名</td>
              </tr>
              <tr>
                <th scope="row">テーブル番号</th>
                <td><%= order.table %></td>
              </tr>
              <tr>
                <th scope="row">ドリンクオーダー</th>
                <td><%= order.drink %></td>
              </tr>
              <tr>
                <th scope="row">フードオーダー</th>
                <td><%= order.food %></td>
              </tr>
              <tr>
                <th scope="row">会計金額</th>
                <td><%= order.pay.to_s(:delimited) %>円</td>
              </tr>
              <tr>
                <th scope="row">memo</th>
                <td><%= order.order_memo %></td>
              </tr>
            </tbody>
          </table>
        </div>

      <% end %>
    <% else %>
      <p class="h3 text-center">*** オーダー情報はありません ***</p>
    <% end %>
  </div>
</div>