<h1>顧客情報詳細ページ</h1>
<%= link_to 'トップページ', root_path %>
<%= link_to 'オーダー情報入力', new_customer_order_path(@customer.id) %>
<%= link_to '顧客情報編集', edit_customer_path(@customer.id) %>
<%= link_to '顧客削除', customer_path(@customer.id), method: :delete %>


<div>
  <label>お名前</label>
  <%= @customer.last_name %>
  <%= @customer.first_name %>
</div>

<div>
  <label>お名前(ふりがな)</label>
  <%= @customer.last_name_kana %>
  <%= @customer.first_name_kana %>
</div>

<div>
  <label>性別</label>
  <%= @customer.sex.name %>
</div>

<div>
  <label>電話番号1</label>
  <%= @customer.tell1 %>
</div>

<div>
  <label>電話番号2</label>
  <%= @customer.tell2 %>
</div>

<div>
  <label>メールアドレス</label>
  <%= @customer.email %>
</div>

<div>
  <label>住所</label>
  <%= @customer.address %>
</div>

<div>
  <label>来店回数</label>
  <%# <%= @customer. %>
</div>

<div>
  <label>メモ</label>
  <%= @customer.memo %>
</div>

<div>
  <label>外見的特徴</label>
  <%# <%= @customer. %>
</div>

<p>オーダー一覧</p>
<div>
<% if @orders.present? %>
  <% @orders.each do |order| %>
    <div>
      <tr>
        <th >来店日</th>
        <td><%= order.date %></td>
      </tr>
      <tr>
        <th>人数</th>
        <td><%= order.people %>名</td>
      </tr>
      <tr>
        <th>テーブル番号</th>
        <td><%= order.table %></td>
      </tr>
      <tr>
        <th>ドリンクオーダー</th>
        <td><%= order.drink %></td>
      </tr>
      <tr>
        <th>フードオーダー</th>
        <td><%= order.food %></td>
      </tr>
      <tr>
        <th>会計金額</th>
        <td><%= order.pay.to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <th>memo</th>
        <td><%= order.order_memo %></td>
      </tr>

      <%= link_to '編集', edit_customer_order_path(@customer.id, order.id) %>
      <%= link_to "削除", customer_order_path(@customer.id, order.id), method: :delete %>
    </div>
  <% end %>
<% else %>
  <p>*** オーダー情報はありません ***</p>
<% end %>
</div>