<div class="container mb-5">
  <h2>オーダー入力</h2>

  <%= form_with model: [@customer, @order], url: customer_orders_path, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="mt-3">
      <label for="order_date">来店日</label> <span class="badge badge-danger">必須</span>
    </div>
    <div class="col">
      <%= f.date_field :date %>
    </div>

    <div class="mt-2">
      <label for="order_people">来店人数</label> <span class="badge badge-danger">必須</span>
    </div>
    <div class="col">
      <%= f.text_field :people, class: "text-right", placeholder:"例）3" %> 名
    </div>

    <div class="mt-2">
      <label for="order_table">テーブル番号</label>
    </div>
    <div class="col">
      <%= f.text_field :table, placeholder:"例）A5" %>
    </div>

    <div class="mt-2">
      <label for="order_drink">ドリンクオーダー</label>
    </div>
    <div class="col">
      <%= f.text_area :drink, placeholder:"例）ビール4", class: "text_area" %>
    </div>

    <div class="mt-2">
      <label for="order_food">フードオーダー</label>
    </div>
    <div class="col">
      <%= f.text_area :food, placeholder:"例）ポモドーロ1", class: "text_area" %>
    </div>

    <div class="mt-2 w-4">
      <label for="order_pay">支払い金額</label> <span class="badge badge-danger">必須</span>
    </div>
    <div class="col">
      <%= f.text_field :pay, class: "text-right", placeholder:"例）12000" %> 円
    </div>

    <div class="mt-2">
      <label for="order_order_memo">メモ</label>
    </div>
    <div class="col">
      <%= f.text_area :order_memo %>
    </div>

    <div class="sell-btn-contents mt-3 ml-3">
      <%= f.submit "登録する" %>
      <%= link_to 'もどる', customer_path(params[:customer_id]) %>
    </div>

  <% end %>
</div>