<h1>オーダー情報入力</h1>
<%# <%= link_to '戻る', customer_path(customer_id: customer.id) %> 
    <%# <div>
      <%= @customer.last_name %>
      <%# <%= binding.pry%>
      <%# <%= @customer.first_name %>
    <%# </div> %> 

<%= form_with model: [@customer, @order], url: customer_orders_path, local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

<div>
  <%= f.label '来店日', class: 'control-label' %>
  <%= f.date_field :date, class: 'form-control' %>
</div>

<div>
  <label>来店人数</label>
  <%= f.text_field :people, placeholder:"例）3" %>名
</div>

<div>
  <label>テーブル番号</label>
  <%= f.text_field :table, placeholder:"例）A5" %>
</div>

<div>
  <label>ドリンクオーダー</label>
  <%= f.text_area :drink, placeholder:"例）ビール4" %>
</div>

<div>
  <label>フードオーダー</label>
  <%= f.text_area :food, placeholder:"例）ポモドーロ1" %>
</div>

<div>
  <label>支払い金額</label>
  <%= f.text_field :pay, placeholder:"例）12000" %>円
</div>

<div>
  <label>メモ</label>
  <%= f.text_area :ordre_memo %>
</div>

    <div class="sell-btn-contents">
      <%= f.submit "登録する" ,class:"sell-btn" %>
      <%=link_to 'もどる', :back, class:"back-btn" %>
    </div>

<% end %>