<div class="container mb-5">
  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= flash[:notice] %>
    <%= flash[:alert] %>

    <div class="field">
      <div class='form-text-wrap'>
        <label for="user_email">メールアドレス</label>
        <span class="badge badge-danger">必須</span>
      </div>
      <%= f.email_field :email, class: "memo", placeholder:"PC・携帯どちらでも可", autofocus: true %>
    </div>

    <div class="field">
      <div class='mt-3'>
        <label for="user_password">パスワード</label>
        <span class="badge badge-danger">必須</span>
      </div>
      <%= f.password_field :password, class: "memo", placeholder:"半角英数6文字以上" %>
    </div>

    <div class="mt-3">
      <%= f.submit "ログイン" %>
      <%= link_to "もどる", root_path %>
    </div>
  <% end %>

</div>