<!DOCTYPE html>
<html>
  <head>
    <title>CustomerInfo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar sticky-top bg-info text-white">
      <h1><%= link_to 'Cliente', root_path, class: "app-name" %></h1>
      <div class="navbar-text navbar-right h4">
        <% if user_signed_in? %>
          <%= current_user.name %>
          <%= link_to edit_user_path(current_user.id) do %>
            <button type="button" class="btn btn-light btn-sm border ml-4">ユーザー編集</button>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'link_white' do %>
            <button type="button" class="btn btn-outline-danger btn-sm">ログアウト</button>
          <% end %>
        <% else %>
          <%= link_to new_user_registration_path, class: 'link_white' do %>
            <button type="button" class="btn btn-outline-light btn-sm mr-2">ユーザー登録</button>
          <% end %>
          <%= link_to  new_user_session_path, class: 'link_white' do %>
            <button type="button" class="btn btn-primary btn-sm mr-3">ログイン</button>
          <% end %>
        <% end %>
      </div>
    </nav>

    <%= yield %>

    <footer class="footer fixed-bottom bg-info">
      <p class="text-white pl-5 pt-1">Cliente costomer-info.</p>
    </footer>

  </body>
</html>
