<!DOCTYPE html>
<html>
  <head>
    <title>CustomerInfo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar sticky-top bg-info text-white">
      <h1><%= link_to 'Cliente', root_path, class: "app_name" %></h1>
      <div class="navbar-text navbar-right h4">
        <% if user_signed_in? %>
          <%= current_user.name %>
          <button type="button" class="btn btn-light btn-sm border ml-4">
            <%= link_to 'ユーザー編集', edit_user_path(current_user.id) %>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'link_white'%>
          </button>
        <% else %>
          <button type="button" class="btn btn-outline-light btn-sm mr-2">
            <%= link_to '新規登録', new_user_registration_path, class: 'link_white' %>
          </button>
          <button type="button" class="btn btn-primary btn-sm mr-3">
            <%= link_to 'ログイン', new_user_session_path, class: 'link_white' %>
          </button>
        <% end %>
      </div>
    </nav>

    <%= yield %>

    <footer class="footer fixed-bottom bg-info">
      <p class="text-white pl-5 pt-1">Cliente costomer-info.</p>
    </footer>

  </body>
</html>
